.main-information {
  display: block;
  width: 1180px;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 5em;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 1em;
}

.main-information-container {
  display: block;
  width: 500px;
}

.main-information__title-h2 {
  display: block;
  padding: 1em;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 6%;
  }

.main-information-container-colum {
  display: flex;
}

.main-information-container-colum-one{
  display: block;
  width: 600px;
  height: 596px;
  background-size: 100%;
  margin-right: 40px;
}

.main-information-container-colum-two{
  display: block;
  width: 600px;
  height: 596px;
  margin-left: 40px;
}

.main-information-container-colum-two__text-1 {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 20px;
}

.main-information-container-colum-one__img{

}

.main-information-container-colum-two__blockquote {
  float: left;
  width: 469px;
  height: 191px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  
}

.colortext {
  color: #6C0287;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
}

.main-information-container__author {
  width: 389px;
  height: 84px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  float: right;
  width: 250px;
  overflow-wrap: break-word;

}

.main-information-container__author::before {
  position: absolute;
  right: 3.5em;
  top: 0.27em;
  content:"" ;
  background-image: url("/img/main-information/Ellipse.png");
  font-size: 80px;
  width: 80px;
  height: 80px;
  background-size:contain;
}